<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/css/adminDashboard.css">



	<script src="/js/adminDashboard.js"></script>



	<title>Admin Dashboard</title>

</head>

<body>

	<div class="container">

		<h1>Admin Dashboard</h1>

		<a href="/AdminDashboard/pendingPolicies" id="pendingLink">Pending Policies</a>

		<a href="/AdminDashboard/approvedPolicies" id="approvedLink">Approved Policies</a>

		<a href="/AdminDashboard/rejectedPolicies" id="rejectedLink">Rejected Policies</a>

	</div>

</body>

</html>